
.cookie__box {

 
  width: 100%;
  z-index: 200;
  padding: 10px;
  bottom:0;
  background-image: linear-gradient(
    90deg,
    rgb(124, 132, 168),
    rgb(68, 75, 104) );
  display:none;
  flex-direction: row;
  position: fixed;
  flex-wrap: wrap;
  bottom: 0;
  justify-content: space-around;
  align-items: center;

  -webkit-box-shadow: -1px -11px 18px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -11px 18px -1px rgba(0,0,0,0.75);
box-shadow: -1px -11px 18px -1px rgba(0,0,0,0.75);

}

.cookie__alert {
  margin-top: 20px;
  margin-bottom: 20px;
}


.cookie__button {

  background-image: linear-gradient(
    90deg,
    rgb(81, 89, 126),
    rgb(55, 68, 116) );

    -webkit-box-shadow: -5px 2px 28px 9px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 2px 28px 9px rgba(0,0,0,0.75);
box-shadow: -5px 2px 28px 9px rgba(0,0,0,0.75);
  
  text-align: center;
  padding: 10px;

 
}

.cookie__button:hover{
  cursor: pointer;

}

