@media (max-width: 1000px) {
  .product-info {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }

  picture {
    display: flex;
    flex: 1 1 100%;
  }

  .photo {
    width: 100%;
  }

  .description {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem 2rem;
  }

  .description ul {
    list-style-type: none;
  }

  h1,
  h3,
  p {
  
    text-align: justify;
  }

  li.icon {
    position: relative;
    margin: 1em;
  }
  li.icon::before {
    position: absolute;
    left: -2em;
  }
}
@media (min-width: 1000px) {
  .product-info {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto 0 auto;
    max-width: 1500px;
  }

  picture {
    display: flex;
    flex: 1 1 80%;
  }

  .photo {
    width: 100%;
  }

  .description {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    width: 50%;
  }
  .description ul {
    list-style-type: none;
  }

  h1,
  h3,
  p {
    margin: 1rem;
    text-align: justify;
  }

  li.icon {
    position: relative;
    margin: 1em;
  }
  li.icon::before {
    position: absolute;
    left: -2em;
    font-size: 1.5em;
  }
}
