* {
    margin: 0;
    color: whitesmoke;
}

main section {
    border: 1px solid black;
    margin: 5px 5px;
    padding: 25px 0;
    background-image: url(/pw_maze_black/pw_maze_black_@2X.png);
}

main {
    border: 3px solid red;
    margin-top: 10px;
}

main>p {
    color: red;
}

footer {
    border: 1px solid black;
    margin-top: 5px;
    padding: 10px 0;
    display:flex;
    justify-content: center;
}
