* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  color: whitesmoke;
  overflow-x: hidden;
  background-color: #dfe6e9;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: linear-gradient(
    90deg,
    rgb(197, 201, 218),
    rgb(68, 75, 104)
  );
  /* background-image: linear-gradient( 90deg, rgb(95, 111, 175), rgb(39, 40, 43)); */
}

html {
  scroll-behavior: smooth;
}

main section {
  margin: 0px 5px;
  padding: 25px 0;
  background-image: url(/pw_maze_black/pw_maze_black_@2X.png);
}

main {
  background-image: linear-gradient(90deg, rgb(95, 111, 175), rgb(49, 53, 66));
}

footer {
  margin-top: 5px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
