.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #050605;
  z-index: 100;
  transition: 1s;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
}

.nav__li {
  margin: 5px 50px 5px 50px;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.current-nav {
  color: red;
}

.nav__link:hover {
  color: rgb(198, 206, 243);
}

@media (max-width: 785px) {
  .nav {
    height: 200px;
    top: -200px;
  }
  .nav ul {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }
  .nav__li {
    width: 100%;
    margin-left: 0px;
    border-bottom: 1px solid gray;
  }
  .sm-nav {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    background-image: url('/img/hamburger.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
  }
  .nav__sm-close {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    background-color: white;
  }
}
