.teammates {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: space-between;
}
.teammate {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}
.teammate_picture {
    border-radius: 45%;
}