.teammates {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: space-between;

}

.teammate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.teammate-item__photo {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

@media (max-width: 1051px) {
  .teammates {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .teammate {
    margin-bottom: 20px;
  }
}

@media (max-width: 840px) {
  .teammates {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 440px) {
  .teammate_picture {
    width: 180px;
  }
}

.teammates-animate {
  animation-name: change;
  animation-duration: 2s;
}

@keyframes change {
  from {transform: scale(0, 0)}
  to {transform: scale(1, 1)}
}
